
IMAGE_AAA_MAINICON   ICON     "IMAGES\\APP.ICO"
IMAGE_MAINICON       RCDATA   "IMAGES\\APP.PNG"

IMAGE_TICK           ICON     "IMAGES\\TICK16.ICO"
IMAGE_NOTICK         ICON     "IMAGES\\NOTICK16.ICO"

1 24 "tiko_manifest.xml"


